<p>
  ID : {{user.id}}
  NAME : {{user.name}}
</p>
<hr>
<p>
  ADDRESS : {{user.address}}
</p>
<p>
  Result Function : {{sayHi()}}
</p>
<h2>Value of i : {{i}}</h2>
<button (click)="addCount()">
  Update i
</button>
<button (click)="deleteCount()">
  Delete i
</button>
<p>
  <input type="text" #fullName>
  <button (click)="readName(fullName.value)">Read Name</button>
</p>
<p>
  Name input : {{nameInput}}
</p>

<p>
  <input type="text" #age>
  <button (click)="readAge(age.value)">Read Age</button>
</p>

<div *ngIf="validAge else falseBlock">
  Valid age(true)
</div>
<ng-template #falseBlock>
  Invalid age(false)
</ng-template>
<br>
<select>
  <option *ngFor="let c of courses" [value]=c.id>{{c.title}}</option>
</select>


 